/*这是博客园首页的样式文件*/

/*通用样式*/
body {
    margin: 0;
    background-color: #eeeeee;
}
a {
    text-decoration: none;/*a标签的下划线*/
}
ul {
    list-style-type: none;/*去除ul的样式*/
    padding-left: 0;/*去掉ul里面的内边距*/
}
/*左侧样式*/
.page-left {
    float: left;
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: #4e4e4e;
}

.blog-avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid white;
    margin: 20px auto;
    overflow: hidden;
}
.blog-avatar img {
    width: 100%;
}
.blog-title,.blog-info {
    color: darkgray;
    font-size: 18px;
    text-align: center;
}
.blog-link,.blog-tag {
    font-size: 24px;
}
.blog-link a {
    color: darkgray;
}

.blog-link a:hover,.blog-tag a:hover {
    color: white;
}
.blog-link ul,.blog-tag ul {
    text-align: center;
    margin-top: 100px;
}
/*右侧样式*/
.page-right {
    float: right;
    width: 80%;
    height: 1000px;
}
.article {
    background-color: white;
    margin: 20px 40px 10px 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.title {
    font-size: 28px;
}
.date {
    float: right;
    margin: 20px 20px;
    font-weight: bolder;
}
.article-title {
    border-left: 5px solid red;
    text-indent: 1em;
}
.article-body {
    font-size: 18px;
    text-indent: 30px;
    border-bottom: 1px solid black;
}
.article-bottom {
    padding-left: 30px;
    padding-bottom: 8px;
}